certifi==2017.4.17
chardet==3.0.4
idna==2.5
isodate==0.5.4
numpy==1.22.0
pandas==0.20.2
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
rdflib==4.2.2
requests==2.18.1
six==1.10.0
SPARQLWrapper==1.8.0
urllib3==1.21.1
